.input-text {
  display: flex;
  flex-direction: column;
}

.input-text > label {
  font-size: 0.8rem;
  color: rgb(150, 150, 150);
  margin-bottom: 2px;
  margin-left: 4px;
}

.input-text > input {
  /* background-color: rgba(0, 0, 0, 0.05); */

  padding: 4px 5px 4px;

  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0 0;
  margin-bottom: 1px;

  font-size: 0.875rem;
  white-space: nowrap;
  color: rgba(40, 40, 40, 1);

  transition: 0.3s ease;
}

.input-text > input:hover {
  background-color: rgba(0, 0, 0, 0.035);
  /* border-bottom: 1px solid #000000; */
  /* margin: 0; */
  /* transition: 0.3s ease; */
}

.input-text > input:focus {
  background-color: rgba(0, 0, 0, 0.035);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  margin: 0;
}
