.button-text-container {
}

.button-text {
  padding: 6px 12px;

  background-color: transparent;

  border: 0;
  border-radius: 4px;
  outline: 0;

  font-size: 0.875rem;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  transition: 0.3s;
}

.button-text:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  /* color:white; */
}

.button-text-selected {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
