.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  /* width: 100%; */
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
}
